<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
 <%- include('partials/navigation')%>
 <section class="slide">
    <div class="slide__container container">

        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" id="before">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>

        
          <section class="slide__body slide__body--show" data-id="1">
            <div class="slide__text">
                <h2 class="subtitle"> Imagen n°1 <span class="slide__parte">Surreal space</span> </h2>
                <p class="slide__review">Se le pidió a la IA que generase un cuadro atrístico surrealista agregando el espacio dentro del mismo</p>
            </div>
            <figure class="slide__foto">
                <img src="images/espacio1.png" class="slide__img" >
            </figure>
          </section>


          <section class="slide__body " data-id="2">
            <div class="slide__text">
                <h2 class="subtitle"> Imagen n°2 <span class="slide__parte">Paradisiacal space</span> </h2>
                <p class="slide__review">Se le pidió a la IA que generase lo que para ella era el paraíso y que este esté reflejado en el espacio </p>
            </div>
            <figure class="slide__foto">
                <img src="images/espacio2.png" class="slide__img" >
            </figure>
          </section>


          <section class="slide__body " data-id="3">
            <div class="slide__text">
                <h2 class="subtitle"> Imagen n°3 <span class="slide__parte">El sujeto</span> </h2>
                <p class="slide__review">Aquí la imagen representa aquel que acabará con la humanidad eventualemnte en algún futuro (perturbador)</p>
            </div>
            <figure class="slide__foto">
                <img src="images/aquel.jfif" class="slide__img" >
            </figure>
          </section>

          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16" id="next">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg> 
    </div>
</section>

<%- include('partials/footer')%>
</body>
</html>